     box-sizing: border-box;
}
        body {
            color: purple;
            background: white;
            font-weight: 600;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 14px;
            padding: 10px;